.sprite-address_32{ background-position: 0 0; width: 32px; height: 32px; } 
.sprite-block_32{ background-position: -82px 0; width: 32px; height: 32px; } 
.sprite-bookmark_32{ background-position: -164px 0; width: 32px; height: 32px; } 
.sprite-briefcase_32{ background-position: -246px 0; width: 32px; height: 32px; } 
.sprite-bubble_32{ background-position: -328px 0; width: 32px; height: 32px; } 
.sprite-buy_32{ background-position: -410px 0; width: 32px; height: 32px; } 
.sprite-calendar_32{ background-position: -492px 0; width: 32px; height: 32px; } 
.sprite-clipboard_32{ background-position: -574px 0; width: 32px; height: 32px; } 
.sprite-clock_32{ background-position: -656px 0; width: 32px; height: 32px; } 
.sprite-delete_32{ background-position: -738px 0; width: 32px; height: 32px; } 
.sprite-diagram_32{ background-position: -820px 0; width: 32px; height: 32px; } 
.sprite-document_32{ background-position: -902px 0; width: 32px; height: 32px; } 
.sprite-down_32{ background-position: -984px 0; width: 32px; height: 32px; } 
.sprite-flag_32{ background-position: -1066px 0; width: 32px; height: 32px; } 
.sprite-folder_32{ background-position: -1148px 0; width: 32px; height: 32px; } 
.sprite-gear_32{ background-position: -1230px 0; width: 32px; height: 32px; } 
.sprite-globe_32{ background-position: -1312px 0; width: 32px; height: 32px; } 
.sprite-heart_32{ background-position: -1394px 0; width: 32px; height: 32px; } 
.sprite-help_32{ background-position: -1476px 0; width: 32px; height: 32px; } 
.sprite-home_32{ background-position: -1558px 0; width: 32px; height: 32px; } 
.sprite-info_32{ background-position: -1640px 0; width: 32px; height: 32px; } 
.sprite-key_32{ background-position: -1722px 0; width: 32px; height: 32px; } 
.sprite-label_32{ background-position: -1804px 0; width: 32px; height: 32px; } 
.sprite-left_32{ background-position: -1886px 0; width: 32px; height: 32px; } 
.sprite-letter_32{ background-position: -1968px 0; width: 32px; height: 32px; } 
.sprite-monitor_32{ background-position: -2050px 0; width: 32px; height: 32px; } 
.sprite-pencil_32{ background-position: -2132px 0; width: 32px; height: 32px; } 
.sprite-plus_32{ background-position: -2214px 0; width: 32px; height: 32px; } 
.sprite-present_32{ background-position: -2296px 0; width: 32px; height: 32px; } 
.sprite-print_32{ background-position: -2378px 0; width: 32px; height: 32px; } 
.sprite-right_32{ background-position: -2460px 0; width: 32px; height: 32px; } 
.sprite-save_32{ background-position: -2542px 0; width: 32px; height: 32px; } 
.sprite-search_32{ background-position: -2624px 0; width: 32px; height: 32px; } 
.sprite-shield_32{ background-position: -2706px 0; width: 32px; height: 32px; } 
.sprite-statistics_32{ background-position: -2788px 0; width: 32px; height: 32px; } 
.sprite-stop_32{ background-position: -2870px 0; width: 32px; height: 32px; } 
.sprite-tick_32{ background-position: -2952px 0; width: 32px; height: 32px; } 
.sprite-trash_32{ background-position: -3034px 0; width: 32px; height: 32px; } 
.sprite-up_32{ background-position: -3116px 0; width: 32px; height: 32px; } 
.sprite-user_32{ background-position: -3198px 0; width: 32px; height: 32px; } 
.sprite-wallet_32{ background-position: -3280px 0; width: 32px; height: 32px; } 
.sprite-warning_32{ background-position: -3362px 0; width: 32px; height: 32px; } 
