<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Test report</title>
</head>

<body>
<pre>
Passed: {{ data.summary.passed }}/{{ data.summary.total }}

DUTs info:
==========
{%- for dut in data.environment.duts %}
 - {{ dut.device.alias|ljust(10) }}{% if dut.device.is_default %}*{% endif %} - {{ dut.device.address|ljust(16) }} <a
 href="https://{{ dut.device.address }}:{{ dut.device.ports['https'] }}">HTTPS</a> <a href="ssh://root@{{ dut.device.address }}:{{ dut.device.ports['ssh'] }}">SSH</a>: {{ dut.platform|ljust(4) }} {{ dut.version.product.to_tmos|rjust(7) }} {{ dut.version.version }} {{ dut.version.build }} {{ dut.project or '' }}
{%- endfor %}

Failed:
{% for test in data.tests if test.outcome == 'failed' -%}
* <b>{{ test.nodeid }}</b>
  {{ test.call and test.call.longrepr or test.setup.longrepr }}

{% endfor %}

Error:
{% for test in data.tests if test.outcome == 'error' -%}
* <b>{{ test.nodeid }}</b>
  {{ test.call and test.call.longrepr or test.setup.longrepr }}

{% endfor %}

Skipped:
{% for test in data.tests if test.outcome == 'skipped' -%}
* <b>{{ test.nodeid }}</b>
  {{ test.call and test.call.longrepr or test.setup.longrepr }}

{% endfor %}

</pre>
</body>
</html>
