({{ data.summary.passed }}/{{ data.summary.total }}) {{ data.environment.config.testrun.type }}: {{ data.environment.config.testrun
.harness }} {{ data.environment.dut.version.product|upper }} {{ data.environment.dut.version.version }} {{ data.environment.dut.version.build }}: {{ spec.subject }}
