<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title>Test report</title>
</head>

<body>
<pre>
Works! {{ data.summary }}
{{ data.nodes.keys()[0] }}
</pre>
</body>
</html>