({{ result.bars.good.percent_done }}%) {{ config.testrun.type }}: {{ config.testrun.harness }} {{ dut.version.product|upper }} {{ dut.version.version }} {{ dut.version.build }} {% if cores.data %}[CORED]{% endif %}: {{ spec.subject }} 
